<h2>Edit Author</h2>

<%= form_with(model: @author, local: true) do |form| %>

    <% if @author.errors.any? %>
        <div id="error explanation">
            <h3>
                <%= pluralize(@article.errors.count, "error") %>
                prohibited this article from being saved:
            </h3>
            <ul>
                <% @author.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </p>

    <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
    </p>

    <p>
        <%= form.label :homepage %><br>
        <%= form.text_field :homepage %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>

<%= link_to 'Back', authors_path %>