<p style="color: green"><%= notice %></p>

<h1>Papers</h1>

<div id="papers">
  <% @papers.each do |paper| %>
    <%= render paper %>
    <p>
      <%= link_to "Show,", paper %>
      <%= link_to "edit", edit_paper_path(paper) %> or
      <%= link_to "delete", paper, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> this paper.
    </p>
  <% end %>
</div>

<%= link_to "New paper", new_paper_path %>
